<div class="booyah-box">
    <h1 class="PlacesHeader"> <%= @place.name %> </h1>
    <i class="PlacesAddress"><%= @place.address %></i>
    <br /> <br />
    <p class="PlacesDes"><%= @place.description %></p>
</div>